*{
	margin: 0%;
   /* border: 1px solid red;*/
   font-family: 'Poppins', sans-serif;

}
.navbar{
	height: 85px;
	width: 100%;
	display: flex;
}
.left{
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 50px;
}
.middle{
	width: 65%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 80px;
}
.right{
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.signin{
	display: flex;

}
.navbar a{
	text-decoration: none;
	font-size: 17px;
	color: black;
   	justify-content: space-between;
	padding: 1%;
	margin-right:5%;
}
.logo{
	margin: 0% 4% !important;
}
#signin{
	background-color: #00baf2;
	color: white;
	border-radius: 25px;
    border: 2%;
	margin-left: 1%;
}
.kyc{
	background-color:	#D3D3D3;
	padding-top:0.2%;
	padding-bottom: 0.2%;
	text-align: center;

}
.sec2{
	display: flex;
	justify-content: space-between;
	padding: 5% 0% 7% 10%;

}
.download-app{
	background-color: black;
	color: white;
	font-size: 17px;
	width: 70%;
	text-align: centre;
	padding: 1.8% 2.3%;
	border-radius: 25px;
	border-radius: 1px solid black;
}
.download-app:hover{
	background-color: white;
	color: black;
}


